* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "微软雅黑";
}
div {
    display: block;
}
.top {
    width: 100%;
    height: 44px;
    background: #670000;
    border-bottom: 1px solid #9b0000;
}
.topLogo {
    width: 100%;
    height: 172px;
    background: #820000;
    border-bottom: 1px solid #6c0000;
    border-top: 1px solid #7e1e1f;
    position: relative;
}
